hostname {{hostname}}

{% for inter in interfaces -%}
interface {{ inter.interface }}
    ip address {{ inter.ip }} {{inter.subnet}}
{% endfor %}

!
 router ospf {{num_opsf}}
 router-id {{router_id}}
 {% for ospf in opsfs -%}
 network {{ospf.network}} {{ospf.wilcard}} area {{ospf.area}}
 {% endfor %}
!
 router bgp {{local_asn}}
 {% for bgp in bgps -%}
 neighbor {{bgp.bgp_neighbor}} remote-as {{bgp.remote_asn}}
  {% if bgp.test_loop -%}
    neighbor {{bgp.bgp_neighbor}} update-source {{loopback}}
    neighbor {{bgp.bgp_neighbor}} next-hop-self
  {%- endif %}
 {% endfor %}
