@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: #333333;
}

.container{
    width: 100%!important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#map{
    width: 100%;
    height: 100vh;
}

#info{
    background-image:url("../images/wallpaper.jpg");
    padding: 0.5% 2% 2% 2%!important;
    height: 100vh;
}

.copyright{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    margin-top: 9%;
}

/*.column1 {
    float: left;
    width: 100%;
}

.column2 {
    float: left;
    width: 25%;
    padding: 0.5% 2% 2% 2%;
    background-image:url("../images/wallpaper.jpg");
    height: 100vh;
}*/

#titre{
    text-align: center;
    font-family: 'Lobster', serif;
    text-shadow: 4px 4px 4px #aaa;
}

/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #fafafa;
    color: #234c5e;
}

.popupCustom .leaflet-popup-close-button {
    color: white!important;
	background-color: red!important;
	padding: 1px!important;
	margin-bottom: 5px;
	border-radius: 2px;
}

h5{
    font-weight: 800!important;
    text-decoration: underline;
}   

/*table, tr, td, th {
    border: 1px solid black;
    width: 80%;
    margin: auto;
}*/
