html, body {
    padding: 0;
    margin: 0;
    background-color: #333333;
}

#map{
    width: 100%;
    height: 100vh;
}


.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #fafafa;
    color: #234c5e;
}

.popupCustom .leaflet-popup-close-button {
    color: white!important;
	background-color: red!important;
	padding: 1px!important;
	margin-bottom: 5px;
	border-radius: 2px;
}